<% provide(:title, 'Edit Chassis Details') %>
<% provide(:button_text, 'Edit Chassis') %>

<h1>Chassis Edit</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>