<h1>Entries#New</h1>  

  <%= form_with(model: @entry) do |f| %>
      <div class="field">
        <%= f.text_area :run, placeholder: "New Session...." %>
      </div>
      <%= f.submit "Create", class: "btn btn-primary" %>
  <% end %>