<h1>User Dashboard</h1>
<% provide(:title, @user.name) %>

<div class="container my-5">
  <div class="row">
    <div class="col-md-6">
      <h2>Chassis:</h2>
      <ul class="list-group">
        <% @chassis.each do |chas| %>
          <li class="list-group-item"><%= chas.make%> <%= chas.model%></li>
        <% end %>
      </ul>
    </div>

    <div class="col-md-6">
      <h2>Microposts:</h2>
      <ul class="list-group">
        <% @microposts.each do |micropost| %>
          <li class="list-group-item"><%= micropost.content %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>




