<% provide(:title, @user.name) %>
<div class="container mt-5">
  <h1 class="mb-4">User Dashboard</h1>
  <h3>Welcome, <%= current_user.name %></h3>

  <div class="row mt-5">
    <div class="col-md-4">
      <h4>Chassis</h4>
      <ul class="list-group">
        <% current_user.chassis.each do |chass| %>
          <%= link_to chass.make, chassis_path(chass), class: "list-group-item" %>
        <% end %>
      </ul>
    </div>
    <div class="col-md-4">
      <h4>Entries</h4>
      <ul class="list-group">
        <% current_user.entries.each do |entry| %>
          <%= link_to entry.date, entry_path(entry), class: "list-group-item" %>
        <% end %>
      </ul>
    </div>
    <div class="col-md-4">
      <h4>Engines</h4>
      <ul class="list-group">
        <p>Engine Name - Engine Number</p>
        <p>Current Engine Tag</p>          
      </ul>
    </div>
  </div>
</div>
