<h1>Welcome to KartBase</h1>

<h2>This is the home page for the
    <a href="https://www.kartbase.co.uk/">KartBase</a>
</h2>

<%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary" %>

  
