<footer class="footer">
  <small>
    The <a href="https://www.kartbase.co.uk/">KartBase 22</a>
    - <a href="https://www.mikeh.com/">Mike H</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="https://kartbase.co.uk/help">Help</a></li>
    </ul>
  </nav>
</footer>